@import styleguide
@import "~bootstrap/scss/bootstrap"
@import "~bootstrap-select/sass/bootstrap-select"
@import "~bootstrap-cookie-alert/cookiealert.css"

// -webkit-appearance: none

body
  font-family: 'Barlow Semi Condensed3', sans-serif

.cookiealert
  position: absolute !important

a
  color: $cyan

.bootstrap-select .dropdown-item.active, .dropdown-item:active
  background-color: $cyan
// border-color: #17a2b8
