//@import styleguide
@import "~bootstrap/scss/bootstrap"
@import "~bootstrap-select/sass/bootstrap-select"
@import "~bootstrap-cookie-alert/cookiealert.css"
@import '~sweetalert2/src/sweetalert2.scss'

// -webkit-appearance: none

body
  font-family: 'Barlow Semi Condensed3', sans-serif

.cookiealert
  position: absolute !important

a
  color: $cyan

.bootstrap-select .dropdown-item.active, .dropdown-item:active, .nav-link.active
  background-color: $cyan !important

.nav-link
  &.have-credentials-nav
    background-color: #d0ffcd
    font-weight: bold
    &.active
      background-color: #4ecf86 !important

#alert-div
  //@extend .row
  @extend .text-center
// border-color: #17a2b8

.tableFixHead
    overflow-y: auto; height: 100px

.tableFixHead thead th
    position: sticky; top: 0

/* Just common table stuff. Really. */
table
    border-collapse: collapse
    width: 100%
th, td
    padding: 8px 16px
th
    background:#eee
