[Unit]
Description=Database Administration Bundle
Requires=Network.target
After=Network.target

[Service]
ExecStart=uwsgi --ini [DOCUMENT ROOT]/uwsgi.ini --uid www-data --gid www-data
TimeoutSec=10

[Install]
WantedBy=multi-user.target