# db_uwsgi.ini file
[uwsgi]


# uncomment these lines if you need the Python3.7 plugin
# plugins-dir = /usr/lib/uwsgi/plugins
# plugin = python37

# Django-related settings
# the base directory (full path)
chdir = /Users/floris/ownCloud/UT/design_project
# Django's wsgi file
module = designproject.wsgi
# the virtualenv (full path)
home = /Users/floris/ownCloud/UT/design_project/venv

# process-related settings
# master
master = true
# maximum number of worker processes
processes = 10
# the socket (use the full path to be safe
socket = /var/run/dab.sock
# ... with appropriate permissions - may be needed
chmod-socket = 666
# clear environment on exit
vacuum = true

env = DJANGO_SETTINGS_MODULE=designproject.settings
deamonize = /var/log/uwsgi/designproject.log
