{#Basic html template that all pages will extend #}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    {% block head %}
        <title>Database Administration Bundle</title>
    {% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" href="/static/css/0.css">
        <link rel="stylesheet" href="/static/css/1.css">

    {% endblock %}
    <script defer src="/static/scripts/0.chunk.js"></script>
    <script defer src="/static/scripts/1.chunk.js"></script>
    <script defer src="/static/scripts/2.chunk.js"></script>


    {% block scripts %}
        <script defer src="/static/scripts/main.js"></script>
    {% endblock %}
</head>
<body>
<template id="url-prefix" class="/{{ url_prefix }}"></template>
{% block content %}{% endblock %}
</body>
</html>
