{% extends 'base.html' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block scripts %}
    <script defer src="/static/scripts/login.js"></script>
{% endblock %}

{% block content %}
    <template class="{{ template_class }}" id="django-template"></template>

    <div class="container-fluid py-3 py-md-5">
        <div class="row">
            <div class="col-11 col-md-7 col-lg-4 center-block
    container border border-dark rounded-lg shadow-lg bg-white">
                <!-- Login Form -->
                <form class="text-center p-5" action="{{ url_prefix }}login" method="POST" id="login-form">
                    {% csrf_token %}
                    <p class="h4 mb-4">Sign in</p>
                    <div class="form-group row align-items-center">
                        <input type="text" name="mail" class="form-control my-1" placeholder="E-Mail Address"
                               autofocus="" id="email-input" maxlength="100" required="">

                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group row align-items-center">
                        <input type="password" name="password" class="form-control my-1" placeholder="Password"
                               id="password-input" required="">
                        <div class="invalid-feedback"></div>
                    </div>

                    <!-- Username -->
                    <!-- <input type="username" id="loginId" class="form-control mb-4" placeholder="Database id" required autofocus> -->
                    <!-- Password -->
                    <!-- <input type="password" id="loginPw" class="form-control mb-4" placeholder="Password" required> -->
                    <div class="d-flex justify-content-around mb-2 text-danger font-weight-light">
                        {{ message }}
                    </div>
                    <!-- Forgot Password -->
                    <a href="forgot_password_page" id="forgot-password-link">Forgot password?</a>
                    <!-- Sign in button -->
                    <button class="btn btn-info btn-block my-4" type="submit" id="login-button">Sign in</button>
                    <!-- Register -->
                    No account? <a href="register" id="register-link">Register here</a>
                    <div id="alert-div" class="mt-3"></div>
                </form>
            </div>
        </div>
    </div>


    <div class="text-center cookiealert alert" role="alert">
        We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/"
                                                                                target="_blank">Learn more</a>

        <button type="button" class="btn btn-info btn-sm acceptcookies" aria-label="Close">
            I agree
        </button>
    </div>
{% endblock %}
