{% extends 'base.html' %}

{% block head %}
    <title>Admin Home</title>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="/static/css/main.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css"> -->

    <script defer type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <script defer src="/static/scripts/admin.js"></script>

    <script defer>
    $(document).ready(function(){
      $("#search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#users tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });

    // datatables encounters some error because of undefined
    $(document).ready( function () {
        $("#user_table").DataTable();
    });

    </script>

{% endblock %}

{% block content %}

    {% include 'navbar.html' %}

    <div class="container bg-light p-4">
        <!-- Website title -->
        <!-- <div class="row">
            <div class="col-12 text-center">
                <h1>Admin homepage</h1>
                <hr/>

            </div>
        </div> -->
        <div class="row mt-2">
            <div class="col-5">
                <h2 class="text-center">Courses</h2>
                <div class="overflow-auto border rounded" style="height: 300px;">
                    <div class="nav flex-column nav-pills" id="courses-nav" role="tablist">
                        <div class="spinner-border text-info"></div>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <div class="tab-content" id="courses-content">
                    <div class="spinner-border text-info"></div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row mt-4">
            <div class="col-12">
                <input class="form-control mb-3" type="text" id="search" placeholder="Search...">
                <div class="overflow-auto tableFixHead" style="height: 800px;">
                    <table id="user_table" class="table table-sm table-hover table-fixed table-borderless table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th class="th-sm" scope="col">&#8645 #</th>
                                <th class="th-sm" scope="col">Role</th>
                                <th class="th-sm" scope="col">E-Mail</th>
                                <th class="th-sm" scope="col">Verified</th>
                            </tr>
                        </thead>
                        <tbody id="users">
                            <tr class="spinner-border text-info"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
