{% extends 'base.html' %}

{% block head %}
    <title>Default response</title>
    {#    favicon ?#}
{% endblock %}

{% block content %}
    This is the default response page. Here we would normally give a 404, or something like it. <br>
    {% if number > 2 %}
        Listing numbers up to {{ number }}
        <ul>
            {% for i in range %}
                <li>The number {{ i }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Number is low.</p>
    {% endif %}
    <div id="nice-div"></div>
{% endblock %}
