{% extends 'base.html' %}

{% block head %}
    <title>Home - DB Practicum Manager</title>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" href="/static/css/main.css">
    <script defer src="/static/scripts/admin.js"/>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">DBM</a>
            <ul class="navbar-nav mr-auto text-white">
                <li>Welcome { user }</li>
            </ul>
            <div class="my-2 my-lg-0">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Log out</button>
            </div>
        </div>
    </nav>

    <div class="container bg-light p-4">
        <!-- Website title -->
        <div class="row">
            <div class="col-12 text-center">
                <h1>DB Practicum Manager</h1>
                <hr/>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4">
                <div class="nav flex-column nav-pills" id="courses-nav" role="tablist">
                    <!-- <a class="nav-link active" data-toggle="pill" href="#pearls">Pearls of Computer Science</a>
                    <a class="nav-link" data-toggle="pill" href="#di">Data & Information</a>
                    <a class="nav-link" data-toggle="pill" href="#ds">Data Science</a>
                    <a class="nav-link" data-toggle="pill" href="#test">Test</a> -->
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="courses-content">

                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-4">
                <div class="text-center">
                    <h1>Filters</h1>
                </div>
                <ul>
                    <li>Role (0, 1, 2)</li>
                    <li>Seach for name</li>
                    <li>Course</li>
                    <li>Year/date/time</li>
                    <li>etc...</li>
                    <li>etc...</li>
                    <li>etc...</li>
                </ul>
            </div>
            <div class="col-8">
                <h1 class="text-center">table with all users</h1>
                <div class="overflow-auto" style="height: 800px;">
                    <table class="table table-hover">
                        <thead class="thead dark">
                        <tr>
                            <th class="th-sm" scope="col">#</th>
                            <th class="th-sm" scope="col">Role</th>
                            <th class="th-sm" scope="col">E-Mail</th>
                            <th class="th-sm" scope="col">Verified</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div id="users"/>
                        <!-- {% for student in students %}
                            <tr>
                                <td scope="row">1</td>
                                <td>{{ student }}</td>
                            </tr>
                        {% endfor %} -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
