{% extends 'base.html' %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4 border border-dark rounded-lg shadow-lg bg-white">
                <!-- Login Form -->
                <form class="text-center p-5" action="/login" method="POST">
                    {% csrf_token %}
                    <p class="h4 mb-4">Sign in</p>
                    {{ form }}
                    <!-- Username -->
                    <!-- <input type="username" id="loginId" class="form-control mb-4" placeholder="Database id" required autofocus> -->
                    <!-- Password -->
                    <!-- <input type="password" id="loginPw" class="form-control mb-4" placeholder="Password" required> -->
                    <div class="d-flex justify-content-around mb-2 text-danger font-weight-light">
                        {{ message }}
                    </div>
                    <!-- Forgot Password -->
                    <a href="missing">Forgot password?</a>
                    <!-- Sign in button -->
                    <button class="btn btn-info btn-block my-4" type="submit" onclick="f()">Sign in</button>
                    <!-- Register -->
                    No account? <a href="register">Register here</a>
                </form>
            </div>
        </div>
    </div>


    <div class="text-center cookiealert alert" role="alert">
    We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>

        <button type="button" class="btn btn-info btn-sm acceptcookies" aria-label="Close">
            I agree
        </button>
    </div>
{% endblock %}
