<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-inline-flex  ">
    <span class="font-weight-bold text-white mr-3">
            Database Administration Bundle</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    {#        <div class="my-2 my-lg-0" id="whoamiButton">#}
    {##}
    {#        </div>#}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            {% if role < 2 or TA_count > 0 %}
                <li class="nav-item" id="navbar-edit-courses">
                    <a class="nav-link" href="/edit_courses" >Edit courses</a>
                </li>
            {% endif %}
        <!-- TODO fix that TAs can see edit courses too -->
            {% if role == 0 %}
                <li class="nav-item" id="navbar-edit-users">
                    <a class="nav-link" href="/edit_users" >Edit users</a>
                </li>
            {% endif %}

            <li class="nav-item" id="navbar-student-view">
                <a class="nav-link" href="/student_view" >Student view</a>
            </li>

            {#            <button class="btn btn-secondary mr-3" onclick="location.href='/edit_course'">Edit courses</button>#}
            {#            <button class="btn btn-secondary mr-3" onclick="location.href='/edit_user'">Edit users</button>#}
            {#            <button class="btn btn-secondary mr-3" onclick="location.href='/change_password'">Student view</button>#}

        </ul>
        <ul class="navbar-nav float-left float-lg-right ">
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Options
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                    {% if role == 0 %}
                    <a class="dropdown-item text-danger" id="navbar-dump-all-databases" href="#">Get dump of all databases</a>

                    <div class="dropdown-divider" id="navbar-options-dropdown-divider"></div>
                    {% endif %}

                    <a class="dropdown-item" href="/change_password" id="navbar-change-password">Change password</a>
                    <form id="logout-form" action="/logout" method="POST">
                        <a class="dropdown-item" href="#" id="navbar-logout" onclick="document.getElementById('logout-form').submit();">Log
                            out</a>
                    </form>

                </div>
            </li>
        </ul>
        {#        <div class="form-inline float-right">#}
        {#            <button class="btn btn-secondary mr-3" onclick="location.href='/change_password'">Change password#}
        {#            </button>#}
        {#                    <form action='/logout' method='POST'>#}
        {#                        <button class="btn btn-secondary" type='submit' value='logout'>Log out</button>#}
        {#                    </form>#}
        {#        </div>#}
    </div>
</nav>
