{% extends 'base.html' %}

{% block head %}
    <title>Register</title>
{% endblock %}

{% block scripts %}
    <script defer src="/static/scripts/register.js"></script>
{% endblock %}

{% block content %}
        <div class="row">
            <div class="mt-5 col-10 col-md-7 col-xl-4 center-block
    container border border-dark rounded-lg shadow-lg bg-white">
                <!-- Register Form -->
                <div class="p-5"> {# actual content #}
                    <p class="text-center h4 mb-4">Register</p>
                    <hr/>
                    <div class="mt-5 form-group row">
                        <label for="email" class="col-12 col-md-4 col-form-label">UT e-mail address</label>
                        <div class="col-12 col-md-8">
                            {{ form.mail }}
                            <div class="invalid-feedback"></div>
                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-12 col-md-4 col-form-label">Password</label>
                        <div class="col-12 col-md-8">
                            {{ form.password }}
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="passwordConfirm" class="col-12 col-md-4 col-form-label">Confirm Password</label>
                        <div class="col-12 col-md-8">
                            {{ form.passwordConfirm }}
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <p class="text-center small mb-2">Please use a password of at least 8 characters etc</p>
                    <hr>
                    <button class="btn btn-info btn-block mt-5 mb-1 col-md-6 offset-md-3" id="register-button">Register
                    </button>
                </div>
            </div>
        </div>
{% endblock %}
