{% extends 'base.html' %}

{% block head %}
    <title>Student home</title>
{% endblock %}

{% block scripts %}
    <script defer src="/static/scripts/student_view.js"></script>
{% endblock %}

{% block content %}

    {% include 'navbar.html' %}
    <div class="container-fluid py-3 py-md-5">
        <div class="row px-0 px-md-5 center-block flex-row">
            <div class="col-12 col-md-4">
                <div class=" center-block
    container border border-dark rounded-lg shadow-lg bg-white p-3 p-xl-5 text-center">
                        <!-- Website title -->
                            <h1>Student homepage</h1>
                        <hr/>
                        <div class="overflow-auto" style="height: 300px;">
                            <div class="nav flex-column nav-pills" id="courses-nav" role="tablist"></div>
                        </div>

                </div>
            </div>
            <div class="col-12 col-md-8 mt-3 mt-md-0">
                <div class=" center-block
    container border border-dark rounded-lg shadow-lg bg-white p-3 p-xl-5 text-center">

                    <div class="tab-content" id="courses-content"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
