<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Database practicum manager</title>
    </head>

    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                Dropdown
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1">Disabled</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <!-- Website title -->
        <div class="container bg-light">
            <h1 class="text-center">DB Practicum Manager</h1>


        <!-- Option select -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect02">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <div class="input-group-append">
                    <label class="input-group-text" for="inputGroupSelect02">Options</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-secondary" type="button">Button</button>
                </div>
                <select class="custom-select" id="inputGroupSelect03">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
              </select>
            </div>

            <div class="input-group">
                <select class="custom-select" id="inputGroupSelect04">
                <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">Button</button>
                </div>
            </div>

        <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>

        <!-- Breadcrumbs -->
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active">Data</li>
                </ol>
            </nav>

        <!-- Table -->
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th class="th-sm" scope="col">#</th>
                        <th class="th-sm" scope="col">Name</th>
                        <th class="th-sm" scope="col">Student Number</th>
                        <th class="th-sm" scope="col">Class</th>
                        <th class="th-sm" scope="col">Start Date</th>
                        <th class="th-sm" scope="col">Other</th>
                    </tr>
                </thead>
                <!-- Data -->
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Denys</td>
                        <td>s1855034</td>
                        <td>Design Project</td>
                        <td>2-9-'19</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Denys</td>
                        <td>s1855034</td>
                        <td>Design Project</td>
                        <td>2-9-'19</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Denys</td>
                        <td>s1855034</td>
                        <td>Design Project</td>
                        <td>2-9-'19</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Denys</td>
                        <td>s1855034</td>
                        <td>Design Project</td>
                        <td>2-9-'19</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Denys</td>
                        <td>s1855034</td>
                        <td>Design Project</td>
                        <td>2-9-'19</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Denys</td>
                        <td>s1855034</td>
                        <td>Design Project</td>
                        <td>2-9-'19</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>Denys</td>
                        <td>s1855034</td>
                        <td>Design Project</td>
                        <td>2-9-'19</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>Denys</td>
                        <td>s1855034</td>
                        <td>Design Project</td>
                        <td>2-9-'19</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>Denys</td>
                        <td>s1855034</td>
                        <td>Design Project</td>
                        <td>2-9-'19</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <th scope="row">10</th>
                        <td>Denys</td>
                        <td>s1855034</td>
                        <td>Design Project</td>
                        <td>2-9-'19</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>Denys</td>
                        <td>s1855034</td>
                        <td>Design Project</td>
                        <td>2-9-'19</td>
                        <td>None</td>
                    </tr>
                    <tr>
                        <th scope="row">12</th>
                        <td>Denys</td>
                        <td>s1855034</td>
                        <td>Design Project</td>
                        <td>2-9-'19</td>
                        <td>None</td>
                    </tr>
                </tbody>
            </table>
            <!-- Pagination -->
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <span>&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <span>&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
