{% extends 'base.html' %}

{% block head %}
    <title>Student view</title>
{% endblock %}

{% block scripts %}
    <script defer src="/static/scripts/student_view.js"></script>
{% endblock %}

{% block content %}
<div class="vh-100 d-flex flex-column">
    {% include 'navbar.html' %}
    <div class="container-fluid d-flex py-3 py-md-5 flex-grow-1">
        <div class="row px-0 px-md-5 center-block flex-row flex-grow-1">
            <div class="col-12 col-md-4 d-flex">
                <div class=" center-block container border border-dark rounded-lg shadow-lg bg-white p-3 p-xl-5 text-center">
                    <!-- Website title -->
                    <h2>Course list</h2>
                    <hr/>
                    <div class="overflow-auto" style="height: 300px;">
                        <div class="nav flex-column nav-pills" id="courses-nav" role="tablist"></div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-8 mt-3 mt-md-0 d-flex">
                <div class="center-block container border border-dark rounded-lg shadow-lg bg-white p-3  p-xl-5 text-center">

                    <div class="tab-content" id="courses-content">


                        <div class="tab-pane active m-5"><h1>Please select a course</h1></div>

                        <div class="tab-pane" id="no-credentials-pane">
                            <p class="h2" id="no-credentials-coursename">No credentials coursename</p>
                            <p class="text-center small mb-2" id="no-credentials-courseinfo">No credentials
                                courseinfo</p>
                            <p id="no-credentials-status" class="text-center text-warning">You do not have credentials
                                for this
                                course yet</p>
                            <hr>
                            <form id="no-credentials-form" class="form-group">
                                <div class="form-group row align-items-center px-5">
                                    <label for="group-input" class="col-12 col-md-4">Please select a group</label>
                                    <input type="number" id="group-input" class="form-control col-12 col-md-8"
                                           oninput="this.value=this.value.replace(/[^0-9]/g,'');">
                                </div>
                                <button type="submit" class="btn btn-info my-4" id="credentials-button">Get
                                    credentials
                                </button>
                            </form>
                        </div>

                        <div class="tab-pane" id="have-credentials-pane">
                            <p class="h2" id="have-credentials-coursename">Have credentials coursename</p>
                            <p class="text-center small mb-2" id="have-credentials-courseinfo">Have credentials
                                courseinfo</p>
                            <p id="have-credentials-status" class="text-center text-success">You already have
                                credentials for this course</p>
                            <hr>
                            <p class="text-center mb-2" id="have-credentials-database-info">
                                To use the database, connect to {{ server_address }} using these credentials:
                            </p>
                            <div id="credentials-div">Credentials default page</div>

                        </div>

                    </div>
                    <div id="alert-div"></div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
