db_name = "dab"
db_user = "admin"
db_password = 'secure'
db_host = 'example.com'
db_port = '5432'

bitmask = 'PLEASE FILL IN'

# For display to users only; please edit
DATABASE_SERVER = 'thebias.nl'
HOST_SERVER = 'db.thebias.nl'

# EMAIL SETTINGS: (please edit)
EMAIL_SERVER = 'localhost'
EMAIL_SENDER = 'no-reply@thebias.nl'

# LOGFILE: needs write permissions
LOGFILE = '/tmp/backend.log'